---
import { randomUUID } from "node:crypto";
import searchModalScript from "../scripts/search-modal.ts?url";
import SearchDialog from "./search/SearchDialog.astro";
import SearchTrigger from "./search/SearchTrigger.astro";

interface Props {
  scope?: "desktop" | "mobile";
}

const { scope } = Astro.props as Props;
const instanceId = randomUUID();
const dialogTitleId = `search-dialog-title-${instanceId}`;
const inputId = `search-input-${instanceId}`;
const helpTextId = `search-help-text-${instanceId}`;
---

<div class="search-container" data-search-container data-search-scope={scope}>
  <SearchTrigger />
  <SearchDialog
    dialogTitleId={dialogTitleId}
    inputId={inputId}
    helpTextId={helpTextId}
  />
</div>

<script type="module" src={searchModalScript} is:inline></script>
